<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EEST N°3</title>
	<link rel="stylesheet" type="text/css" href="css/especialidades.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/acercade.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
   
</head>

<body >
		
	<nav class="navbar navbar-expand-lg navbar-dark sticky-top">

		<a href="#" class="navbar-brand">
			<img src="images/logoesc.png" class="rounded-circle" alt="Circular Image" height="50" alt="Logo">
		</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbar-collapse-main" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

	  <div class="collapse navbar-collapse" id="navbar-collapse-main">
		  <ul class="nav navbar-nav" style="font-size: 1.3rem">
			  <li><a href="#" class="nav-item nav-link active">Inicio</a></li>
			  <li><a href="#" class="nav-item nav-link active">Especialidades </a></li>
			  <li><a href="#" class="nav-item nav-link active">Olimpiadas </a></li>
			  <li><a href="#" class="nav-item nav-link active">Contacto </a></li>
			  <li><a href="#" class="nav-item nav-link active">Inscripción </a></li>
			  <li><a href="#" class="nav-item nav-link active">Acerca de</a></li>
		  </ul>
		  <ul class="navbar-nav ml-auto" style="font-size: 1.3rem">
			  <li><a href="#" class="nav-item nav-link active">Login</a></li>
			  <li><a href="#" class="nav-item nav-link active">Register</a></li>
		  </ul>
	  </div>
  </nav>


<h1>ACERCA DE NUESTRA ESCUELA</h1>

<h2><t> Un lugar para aprender, descubirir, innovar y encontrarse. </t></h2>




<div class="container">
<img class="centrado" src="images/tec3-portada.jpg" alt="Solvetic">
</div>





<section class="panel" data-type="facts" data-modular-content="" data-js="panel" data-index="2" data-width="full" data-posts-per-row="2">

    <hr aria-hidden="true">
<div class="grid-container">
  <figure>
    Abierta en <strong> 1963</strong>
  </figure>
  <figure>
   Localizada en<strong> Mar del Plata, BS AS</strong>
  </figure>
    <figure>
    <strong>6</strong> Especialidades
  </figure>
</div>
<hr aria-hidden="true">

  </section>

  <h1><l>Nuestra Historia</l></h1>









  <footer id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Especialidades</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Automotores</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Construcciones</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Electrónica</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Electrmecánica</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Informática</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Química</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Links útiles</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Consejo escolar</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Mesas de examen</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Módulo de ingreso</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Noticias</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Olimpíadas</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Nosotros</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contactanos</a></li>
            <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Directivos</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Historia</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Imágenes</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Preguntas frecuentes</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>	
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p>&copy Todos los derechos reservados </p>
          <!-- <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p> -->
        </div>
      </div>	
    </div>
  </footer>

  
  

</body>
</html>